/* Estilo básico */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212; /* Fondo oscuro */
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  flex-direction: column;
  padding: 20px; /* Margen reducido */
}

/* Contenedor principal */
.container {
  width: 100%;
  max-width: 1200px;
  background-color: #121212;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Header */
.__header {
  text-align: center;
  padding: 30px 20px;
  border-bottom: 2px solid #333;
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%; /* Asegura que sea redonda */
  object-fit: cover;
}

.__header h1 {
  font-size: 2.5em;
}

.__header p {
  font-size: 1.2em;
  color: #bbb;
}

/* Secciones */
.section {
  margin-bottom: 40px;
}

.section h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.section p {
  font-size: 1em;
  line-height: 1.6;
}

/* Apps */
.apps {
  display: grid; /* Usa un grid layout */
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Ajusta el tamaño mínimo */
  gap: 10px; /* Espaciado reducido */
  margin-top: 50px;
}

.apps a {
  text-decoration: none;
  color: #fff;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.apps a:hover {
  transform: scale(1.1); 
}

.apps img {
  width: 200px; /* Ajusta el ancho de las imágenes */
  height: auto; /* Mantén la proporción */
  aspect-ratio: 1 / 1;
  border-radius: 10px; /* Bordes redondeados */
  object-fit: cover; /* Escala y recorta para llenar el espacio */
}

/* Contact */
.contact {
  display: flex;
  flex-wrap: wrap;
  gap: 100px; /* Espaciado aumentado */
  justify-content: center;
  margin-top: 50px; /* Espacio extra arriba */
}

.contact a {
  text-decoration: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em; /* Tamaño de fuente aumentado */
}

.contact i {
  font-size: 40px; /* Tamaño de ícono aumentado */
  margin-bottom: 10px; /* Espacio extra debajo del ícono */
}

/* Media Queries */
@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  .container {
    padding: 20px 10px;
  }

  .profile-pic {
    width: 120px;
    height: 120px;
  }

  .__header h1 {
    font-size: 2em;
  }

  .section h2 {
    font-size: 1.5em;
  }

  .apps img {
    border-radius: 10px;
  }
}

@media (max-width: 480px) {
  .profile-pic {
    width: 100px;
    height: 100px;
  }

  .__header h1 {
    font-size: 1.8em;
  }

  .section h2 {
    font-size: 1.2em;
  }

  .apps img {
    border-radius: 10px;
  }
}
